name: Cron actions

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate
    steps:
      - uses: "actions/checkout@v6"

      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: topics

      - name: Hassfest validation
        uses: "home-assistant/actions/hassfest@master"
